:root {
  /* Light mode */
  --background-color: hsl(0 0% 95%);
  --background-end: hsl(0 0% 85%);
  --text-color: hsl(216, 63%, 4%);
  --background-card: #fff;
}

.dark {
  /* Dark mode (default) */
  --background-color: hsl(216, 63%, 4%);
  --background-end: hsl(216, 63%, 10%);
  --text-color: #fff;
  --background-card: hsl(216 60% 6%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground); */
  color: var(--text-color);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
